*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .3s;
}
body{
    background: black;
    color: white;
}
:root{
    --color-1: rgb(26, 168, 224);
    --color-2: rgb(90, 197, 240);
}
.container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.card_container {
    padding: 12px;
    margin: 10px;
    border: 1px solid;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 0px 35px 0px;
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
}
.card:hover {
    transform: translateY(-20px);
}
.image_container {
    background: var(--color-1);
    height: 150px;
    width: 100%;
}
.image_container img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 90px;
    border: 3px solid;
}
.title {
    margin: 60px 0px 8px 0px;
    font-size: 32px;
}
.profession {
    margin: 0px 0px 8px 0px;
    color: var(--color-1);
}
.para {
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 0px 35px 15px 35px;

}
.btn {
    padding: 8px 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--color-1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn:hover{
    background-color: var(--color-2);
}
.btn:hover{
    background-color: var(--color-2);
}
.ripples{
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
  }